<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Nest Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize">
                    <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/users">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/products">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/categories">
                        <i class="icon material-icons md-category"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/salesReport">
                        <i class="icon material-icons md-business"></i>
                        <span class="text">Sales Reports</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offers">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon">
                        <i class="icon material-icons md-card_giftcard"></i>
                        <span class="text" >Coupons</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform"></form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
                    <i class="material-icons md-apps"></i>
                </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#">
                            <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Manage Categories</h2>
                    <p>edit existing categories, create new ones.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form id="categoryForm">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <div id="errorMessagesName" class="text-danger"></div>
                                    <input type="text" placeholder="Type here" class="form-control" id="categoryName"
                                        required />
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <div id="errorMessagesDescription" class="text-danger"></div>
                                    <textarea placeholder="Type here" class="form-control" id="categoryDescription"
                                        required></textarea>
                                </div>
                                <div class="d-grid">
                                    <div id="errorMessages" class="text-danger"></div>
                                    <button type="button" class="btn btn-primary justify-content-center"
                                        id="createCategoryButton" onclick="createCategory()">Create category</button>
                                    <button type="button" class="btn btn-primary justify-content-center"
                                        id="updateCategoryButton" hidden onclick="updateCategory()">Update
                                        category</button>
                                    <button type="button" class="btn btn-outline-danger mt-2 justify-content-center"
                                        hidden id="cancelUpdateButton" onclick="">Cancel</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-lg-1">Name</th>
                                            <th class="col-lg-3">Description</th>
                                            <th class="col-lg-1">Status</th>
                                            <th class="col-lg-3 text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Sample Category -->
                                        <% allCategories.forEach(category=> { %>
                                            <tr>
                                                <td id="category-name-<%= category.id%>">
                                                    <%= category.categoryName%>
                                                </td>
                                                <!-- <td><%= category.id%></td> -->
                                                <!-- <td>
                                                    <button class="btn btn-secondary justify-content-center" style="height: 31px; width: 80px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription-1" aria-expanded="false" aria-controls="collapseDescription">
                                                        Description
                                                    </button>
                                                    <div class="collapse" id="collapseDescription-1">
                                                        <div class="mt-2">
                                                        </div>
                                                    </div>
                                                </td> -->
                                                <td id="category-description-<%= category.id%>">
                                                    <%= category.description %>
                                                </td>

                                                <% if(!category.isBlock) {%>
                                                    <td>
                                                        <span class="badge badge-pill badge-soft-success"
                                                            style="height: 20px; width: 60px;"
                                                            id="unlist-status-<%= category.id%>">Listed</span>
                                                    </td>
                                                    <% }else{ %>


                                                        <td>
                                                            <span class="badge badge-pill badge-soft-danger"
                                                                style="height: 20px; width: 60px;"
                                                                id="unlist-status-<%= category.id%>">Unlisted</span>
                                                        </td>
                                                        <% } %>
                                                            <td class="text-center">
                                                                <% if(!category.isBlock){%>
                                                                    <button
                                                                        class="btn btn-outline-danger btn-sm justify-content-center"
                                                                        style="height: 31px; width: 80px;"
                                                                        onclick="unlistCategory('<%= category.id%>')"
                                                                        id="unlist-button-<%= category.id%>">
                                                                        <i class="fas fa-ban"></i> Unlist
                                                                    </button>
                                                                    <% }else{ %>
                                                                        <button
                                                                            class="btn btn-brand btn-sm justify-content-center"
                                                                            style="height: 31px; width: 80px;"
                                                                            onclick="unlistCategory('<%= category.id%>')"
                                                                            id="unlist-button-<%= category.id%>">
                                                                            <i class="fas fa-ban"></i> List
                                                                        </button>
                                                                        <% } %>
                                                                            <button class="btn btn-brand btn-sm ms-2"
                                                                                data-id="<%= category.id%>"
                                                                                data-name="<%= category.categoryName%>"
                                                                                data-description="<%= category.description %>"
                                                                                onclick="editCategory('<%= category.id%>')">
                                                                                <i class="fas fa-edit"></i> Edit info
                                                                            </button>
                                                            </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <!-- Sample Pagination -->
                        <li class="page-item">
                            <a class="page-link" href="?page=1&limit=5">
                                <i class="material-icons md-chevron_left"></i>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="?page=1&limit=5">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page=2&limit=5">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page=2&limit=5">
                                <i class="material-icons md-chevron_right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <p class="mb-0">All rights reserved © 2023 Nest - Ecommerce Dashboard Template</p>
                </div>
                <div class="col-sm-6">
                    <p class="mb-0 text-sm-end">Version 1.0</p>
                </div>
            </div>
        </footer>
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- create category -->
    <!-- validation -->
    <script>

        function displayError(errorMessage) {
            const errorDiv = document.getElementById('errorMessages');
            const errorParagraph = document.createElement('p');
            errorParagraph.textContent = errorMessage;
            errorDiv.appendChild(errorParagraph);
        }

        function displayErrorName(errorMessage) {
            const errorDiv = document.getElementById('errorMessagesName');
            const errorParagraph = document.createElement('p');
            errorParagraph.textContent = errorMessage;
            errorDiv.appendChild(errorParagraph);
        }

        function displayErrorDescription(errorMessage) {
            const errorDiv = document.getElementById('errorMessagesDescription');
            const errorParagraph = document.createElement('p');
            errorParagraph.textContent = errorMessage;
            errorDiv.appendChild(errorParagraph);
        }

        function validateWhenCreate() {
            const categoryName = document.getElementById('categoryName').value.trim();
            const categoryDescription = document.getElementById('categoryDescription').value.trim();

            document.getElementById('errorMessagesName').innerHTML = '';
            document.getElementById('errorMessagesDescription').innerHTML = ''
            document.getElementById('errorMessages').innerHTML = ''

            if (!categoryName) {
                displayErrorName("*Enter category name")
                return false;
            }

            const minLength = 3; // Minimum length of category name
            const maxLength = 50; // Maximum length of category name
            const allowedCharacters = /^[a-zA-Z0-9-,\s]+$/; // Regular expression to allow alphanumeric characters and spaces

            // Check if category name is present and within length limits
            if (!categoryName || categoryName.length < minLength || categoryName.length > maxLength) {
                displayErrorName("*Category name must be between " + minLength + " and " + maxLength + " characters.")
                return false
            }

            // Check if category name contains only allowed characters
            if (!allowedCharacters.test(categoryName)) {
                displayErrorName("*Can't use some special characters");
                return false
            }

            if (!categoryDescription) {
                displayErrorDescription("*Enter discription")
                return false;
            }

            if (!allowedCharacters.test(categoryDescription)) {
                displayErrorDescription("*Category name can only contain letters, numbers, and spaces.");
                return false
            }

            return true;
        }

        document.getElementById('categoryName').addEventListener('input', validateWhenCreate);
        document.getElementById('categoryDescription').addEventListener('input', validateWhenCreate);

        function createCategory() {

            if (validateWhenCreate()) {


                const name = document.getElementById("categoryName").value.trim()
                const description = document.getElementById("categoryDescription").value.trim()

                document.getElementById('errorMessagesName').innerHTML = '';
                document.getElementById('errorMessagesDescription').innerHTML = ''
                document.getElementById('errorMessages').innerHTML = ''

                const categoryData = {
                    name: name,
                    description: description
                }
                fetch("/admin/createCategory", {
                    method: "post",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(categoryData)
                })
                    .then(Response => Response.json())
                    .then(data => {

                        console.log(data)

                        if (data.success) {

                            Swal.fire({
                                title: "<span style='color: #3BB77E;'>Success!</span>",
                                html: "<span style='color: black;'>category created successfully.</span>",
                                icon: "success",
                                confirmButtonColor: "#3BB77E",
                                confirmButtonText: "OK"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.reload()
                                }
                            })
                        }else if(!data.success){
                            Swal.fire({
                                title: "<span style='color: #FF0000;'>Ooops!</span>",
                                html: "<span style='color: black;'>This category already exists!</span>",
                                icon: "error",
                                confirmButtonColor: "#FF0000",
                                confirmButtonText: "OK"
                            }).then((result) => {
                                // if (result.isConfirmed) {
                                //     window.location.reload()
                                // }
                            })
                        }
                    })

            }

        }
    </script>

    <!-- unlist category -->
    <script>
        function unlistCategory(categoryId) {

            // console.log(categoryId)
            const data = { categoryId: categoryId }

            Swal.fire({
                icon: "question",
                title: "<span style='color: black;'>Do you want to save changes?</span>",
                showCancelButton: true,
                confirmButtonColor: '#3BB77E',
                confirmButtonText: 'Yes',
            }).then(res => {
                if (res.isConfirmed) {
                    fetch('/admin/blockCategory', {

                        method: "post",
                        headers: {
                            'Content-Type': 'application/json'
                        },

                        body: JSON.stringify(data)
                    })
                        .then(response => response.json())

                        .then(data => {
                            if (data.success) {

                                Swal.fire({
                                    title: "<span style='color: #3BB77E;'>Success!</span>",
                                    html: "<span style='color: black;'>Your changes have been saved successfully.</span>",
                                    icon: "success",
                                    confirmButtonColor: "#3BB77E",
                                    confirmButtonText: "OK"
                                });

                                let button = document.getElementById(`unlist-button-${categoryId}`);
                                let status = document.getElementById(`unlist-status-${categoryId}`);

                                if (button.classList.contains('btn-outline-danger')) {
                                    button.classList.remove('btn-outline-danger');
                                    button.classList.add('btn-brand');
                                    button.innerHTML = '<i class="fas fa-check"></i> List';

                                    status.classList.remove('badge-soft-success');
                                    status.classList.add('badge-soft-danger');
                                    status.innerHTML = 'Unlisted';

                                } else {
                                    button.classList.remove('btn-brand');
                                    button.classList.add('btn-outline-danger');
                                    button.innerHTML = '<i class="fas fa-ban"></i> Unlist';

                                    status.classList.remove('badge-soft-danger');
                                    status.classList.add('badge-soft-success');
                                    status.innerHTML = 'Listed';

                                }
                            }
                        })
                }
            })


        }
    </script>

    <!-- edit category -->

    <script>

        let idToUpdate;

        function editCategory(categoryId) {

            Swal.fire({
                icon: "question",
                title: "<span style='color: black;'>Do you want to edit?</span>",
                showCancelButton: true,
                confirmButtonColor: '#3BB77E',
                confirmButtonText: 'Yes',
            }).then(res => {

                if (res.isConfirmed) {

                    idToUpdate = categoryId

                    const name = document.getElementById(`category-name-${categoryId}`).innerText
                    const description = document.getElementById(`category-description-${categoryId}`).innerText

                    document.getElementById('categoryName').value = name
                    document.getElementById('categoryDescription').value = description

                    document.getElementById('updateCategoryButton').hidden = false
                    document.getElementById('cancelUpdateButton').hidden = false

                    document.getElementById('createCategoryButton').hidden = true;

                }
            })



        }

        document.getElementById('cancelUpdateButton').addEventListener('click', () => {
            window.location.reload()
        })

        function updateCategory() {

            Swal.fire({
                icon: "question",
                title: "<span style='color: black;'>Do you want to update?</span>",
                showCancelButton: true,
                confirmButtonColor: '#3BB77E',
                confirmButtonText: 'Yes',
            }).then(res => {

                if (res.isConfirmed) {
                    const id = idToUpdate

                    const name = document.getElementById("categoryName").value.trim()
                    const description = document.getElementById("categoryDescription").value.trim()

                    // console.log(name,description)

                    const categoryFromData = {

                        categoryId: id,
                        categoryName: name,
                        categoryDescription: description
                    }

                    // console.log(categoryFromData)

                    fetch('/admin/updateCategory', {

                        method: 'post',
                        headers: {

                            'Content-Type': 'application/json'
                        },

                        body: JSON.stringify(categoryFromData)
                    })

                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {

                                Swal.fire({
                                    icon: "success",
                                    title: "<span style='color: black;'>update successfully!</span>",
                                    // showCancelButton: true,
                                    confirmButtonColor: '#3BB77E',
                                    confirmButtonText: 'Ok',

                                }).then(res => {

                                    if (res.isConfirmed) {

                                        window.location.reload()
                                    }
                                })
                            }
                        })

                }
            })


        }

    </script>



</body>

</html>