<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Hmart - Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Template CSS -->
    <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />

    <style>
        .cropper-container {
            width: 100%;
            max-height: 400px;
        }

        .modal-content {
            margin: 10% auto;
            padding: 20px;
            width: 80%;
            max-width: 600px;
            background-color: #363636;
        }
    </style>

</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/users">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/products">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category">
                        <i class="icon material-icons md-category"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/salesReport">
                        <i class="icon material-icons md-business"></i>
                        <span class="text">Sales Reports</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offers">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupons">
                        <i class="icon material-icons md-card_giftcard"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Edit The Product</h2>
                        <div>
                            <button class="btn btn-md rounded font-sm hover-up"
                                onclick="editProduct('<%= product.id%>')">Edit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product title</label>
                                        <div id="errorMessagesName" class="text-danger"></div>
                                        <input type="text" id="product_name" placeholder="Type here"
                                            class="form-control" required value="<%= product.productName%>">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <div id="errorMessagesDescription" class="text-danger"></div>
                                        <textarea placeholder="Type here" id="product_description" class="form-control"
                                            rows="4" required><%= product.description %></textarea>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Category</label>
                                        <select class="form-select" id="category">
                                            <% allCategories.forEach(category => { %>
                                            <option>
                                                <%= category.categoryName %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4 mt-0">

                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Cost in INR</label>
                                        <div id="errorMessagesPrice" class="text-danger"></div>
                                        <input type="text" id="price" placeholder="₹00.0" class="form-control" required
                                            value="<%= product.price %>">
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4 mt-0">

                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. Stock Information</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Quantity</label>
                                        <div id="errorMessagesStock" class="text-danger"></div>
                                        <input type="number" id="stock" placeholder="Enter quantity"
                                            class="form-control" required value="<%= product.stock %>">
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4 mt-0">

                            <div class="row">
                                <div class="col-md-3">
                                    <h6>5. Media</h6>
                                </div>

                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Images</label>
                                        <img src="<%= product.images[0] %>" alt="">
                                        <input class="form-control" id="image1" type="file">
                                        <img src="<%= product.images[1] %>" alt="">
                                        <input class="form-control" id="image2" type="file">
                                        <img src="<%= product.images[2] %>" alt="">
                                        <input class="form-control" id="image3" type="file">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> &copy; Nest - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/cropperjs"></script>

    <script>

function validateProductDetails() {
            let title = document.getElementById('product_name').value.trim();
            let description = document.getElementById('product_description').value.trim();
            let cost = document.getElementById('price').value.trim();
            let stock = document.getElementById('stock').value.trim();

            document.getElementById('errorMessagesName').innerHTML = '';
            document.getElementById('errorMessagesDescription').innerHTML = '';
            document.getElementById('errorMessagesPrice').innerHTML = '';
            document.getElementById('errorMessagesStock').innerHTML = '';


            //product name validation
            if (title === '') {
                displayErrorName('*Product name is required.')
                return false;
            } else if (title.length < 3) {
                displayErrorName(`*Product name must be at least 3 characters long.`);
                return false;
            } else if (title.length > 30) {
                displayErrorName(`*Product name must be less than 30 characters long.`);
                return false;
            }

            //product description validation
            if (description === '') {
                displayErrorDescription('*Product description is required.')
                return false;
            }

            //product price validation
            var minPrice = 0;
            var maxPrice = 200000;

            if (cost === '') {
                displayErrorPrice('*Product price is required.')
                return false;
            } else if (isNaN(cost) || cost <= 0) {
                displayErrorPrice('*Product price must be a positive number.')
                return false;
            } else if (cost < minPrice) {
                displayErrorPrice(`*Product price must be at least $${minPrice.toFixed(2)}.`)
                return false;
            } else if (cost > maxPrice) {
                displayErrorPrice(`*Product price must be less than or equal to $${maxPrice.toFixed(2)}.`)
                return false;
            }

            //product quantity validation
            var minQuantity = 0;
            var maxQuantity = 100

            if (stock == '') {
                displayErrorStock('*Product quantity is required.')
                return false
            } else if (isNaN(stock) || stock < 0) {
                displayErrorStock('*Product quantity must be a positive integer.');
                return false;
            } else if (stock < minQuantity) {
                displayErrorStock(`*Product quantity must be at least ${minQuantity}.`);
                return false;
            } else if (stock > maxQuantity) {
                displayErrorStock(`*Product quantity must be less than or equal to ${maxQuantity}.`);
                return false;
            }

            return true
        }

        function displayErrorName(errorMessage) {
            const errorDiv = document.getElementById('errorMessagesName');
            const errorParagraph = document.createElement('p');
            errorParagraph.textContent = errorMessage;
            errorDiv.appendChild(errorParagraph);
        }

        function displayErrorDescription(errorMessage) {
            const errorDiv = document.getElementById('errorMessagesDescription');
            const errorParagraph = document.createElement('p');
            errorParagraph.textContent = errorMessage;
            errorDiv.appendChild(errorParagraph);
        }

        function displayErrorPrice(errorMessage) {
            const errorDiv = document.getElementById('errorMessagesPrice');
            const errorParagraph = document.createElement('p');
            errorParagraph.textContent = errorMessage;
            errorDiv.appendChild(errorParagraph);
        }

        function displayErrorStock(errorMessage) {
            const errorDiv = document.getElementById('errorMessagesStock');
            const errorParagraph = document.createElement('p');
            errorParagraph.textContent = errorMessage;
            errorDiv.appendChild(errorParagraph);
        }

    
        document.getElementById('product_name').addEventListener('input', validateProductDetails)
        document.getElementById('product_description').addEventListener('input', validateProductDetails)
        document.getElementById('price').addEventListener('input', validateProductDetails)
        document.getElementById('stock').addEventListener('input', validateProductDetails)


        function editProduct(productId) {

            if (!validateProductDetails()) {
                return console.log("Error validate edit products")
            }
            
            const productName = document.getElementById("product_name").value
            const productDescription = document.getElementById("product_description").value
            const category = document.getElementById("category").value
            const price = document.getElementById("price").value
            const stock = document.getElementById("stock").value
            let image1 = document.getElementById('image1').files[0]
            let image2 = document.getElementById('image2').files[0]
            let image3 = document.getElementById('image3').files[0]

            // console.log(productName,productDescription,category,price,stock)

            let formData = new FormData()

            formData.append('id', productId)
            formData.append('productName', productName)
            formData.append('productDescription', productDescription)
            formData.append('category', category)
            formData.append('price', price)
            formData.append('stock', stock)
            if (image1) formData.append('image1', image1);
            if (image2) formData.append('image2', image2);
            if (image3) formData.append('image3', image3);

            for (const [key, value] of formData.entries()) {
                console.log(`${key}:`, value);
            }

            fetch('/admin/updateProduct', {

                method: 'post',
                body: formData
            })

                .then(response => response.json())
                .then(data => {

                    if (data.success) {
                    Swal.fire({
                        icon: "success",
                        title: "<span style='color: black;'>update successfully!</span>",
                        // showCancelButton: true,
                        confirmButtonColor: '#3BB77E',
                        confirmButtonText: 'Ok',

                    }).then(res => {

                        if (res.isConfirmed) {

                            window.location.href = '/admin/products'
                        }
                    })
                }
                })

        }
    </script>
</body>

</html>