<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>ShoeVault Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Template CSS -->
    <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <script defer src="https://cdn.crop.guide/loader/l.js?c=GVSXPY"></script>
</head>

<body id="body">
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/users">
                        <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/products">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/categories">
                        <i class="icon material-icons md-category"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/salesReport">
                        <i class="icon material-icons md-business"></i>
                        <span class="text">Sales Reports</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offers">
                        <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon">
                        <i class="icon material-icons md-card_giftcard"></i>
                        <span class="text">Coupons</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <!-- Search form can be disabled if unnecessary -->
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto"><i class="material-icons md-apps"></i></button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Sales Reports</h2>
                </div>
            </div>
            <div>
                <!-- <input type="text" placeholder="Search order ID" class="form-control bg-white" /> -->
            </div>
            </div>
            <div class="card mb-4">
                <header class="card-header" id="dateHeader">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <!-- <input type="text" placeholder="Search..." class="form-control" /> -->
                            <!-- <input type="date" placeholder="Type here" class="form-control" id="endDate"
                            value="2024-07-10" /> -->
                        </div>
                        <div class="col-lg-2 col-6 col-md-3" style="display: none;" id="startDate">

                            <input type="date" placeholder="Type here" class="form-control" id="startDateInput"
                                />

                        </div>

                        <div class="col-lg-2 col-6 col-md-3" style="display: none;" id="endDate">

                            <input type="date" placeholder="Type here" class="form-control" id="endDateInput"
                                 onchange="customDate(event)" />

                        </div>
                        <div class="card mb-4">
                            <header class="card-header">
                                <div class="row gx-3">
                                    <div class="col-lg-2 col-6 col-md-3">
                                        <select class="form-select" onchange="triggerDateInputs(event)" id="dateInput">
                                            <option>Select Date</option>
                                            <option>Daily</option>
                                            <option>Weekly</option>
                                            <option>Yearly</option>
                                            <option>Custom</option>
                                        </select>
                                    </div>
                                </div>
                            </header>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>No:</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Total</th>
                                                <th scope="col">Discount</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Payment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% fetchAllOrders.forEach((val, ind) => { %>
                                                <tr>
                                                    <td><%= ind + 1 %></td>
                                                    <td><b><%= val.shippingAddress.name %></b></td>
                                                    <td><%= val.shippingAddress.email %></td>
                                            
                                                    <!-- Fix: Only Sum Delivered Products -->
                                                    <td>
                                                        <%= val.products.reduce((sum, product) => sum + (product.price || 0) * (product.quantity || 0), 0) %> 
                                                    </td>
                                            
                                                    <td>
                                                        <%= val.orginalAmount - val.totalAmount  %>
                                                    </td>
                                                    <td><span class="badge rounded-pill alert-success">Delivered</span></td>
                                                    <td><%= val.date.toLocaleDateString('en-GB') %></td>
                                                    <td><%= val.paymentMethod %></td>
                                                </tr>
                                            <% }) %>
                                                    <!-- Additional static rows here -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-4">
                            <div class="card-body">
                                <h5 class="card-title">Overall Summary</h5>
                                <p>Total Sales Count: <%= totalOrders %>
                                </p>
                                <p>Total Order Amount: <%= totalPrice %>
                                </p>
                                <div id="buttons">
                                    <button id="download-pdf-btn" class="btn btn-primary">
                                        <i class="icon material-icons md-file_download"></i>
                                        <span class="text">Download PDF</span>
                                    </button>
                                    <button id="download-excel-btn" class="btn btn-primary">
                                        <i class="icon material-icons md-file_download"></i>
                                        <span class="text">Download Excel</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="pagination-area mt-15 mb-50" id="pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <% if (totalPages > 1) { %>
                                        <% if (currentPage > 1) { %>
                                            <!-- Previous Page Link -->
                                            <li class="page-item">
                                                <a class="page-link" href="?page=<%= currentPage - 1 %>&limit=<%= limit %>">
                                                    <i class="material-icons md-chevron_left"></i>
                                                </a>
                                            </li>
                                        <% } %>
                        
                                        <% for (let i = 1; i <= totalPages; i++) { %>
                                            <!-- Page Number Links -->
                                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                                <a class="page-link" href="?page=<%= i %>&limit=<%= limit || 5 %>">
                                                    <%= i %>
                                                </a>                                                
                                            </li>
                                        <% } %>
                        
                                        <% if (currentPage < totalPages) { %>
                                            <!-- Next Page Link -->
                                            <li class="page-item">
                                                <a class="page-link" href="?page=<%= currentPage + 1 %>&limit=<%= limit %>">
                                                    <i class="material-icons md-chevron_right"></i>
                                                </a>
                                            </li>
                                        <% } %>
                                    <% } %>
                                </ul>
                            </nav>
                        </div>
                        
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear());</script> &copy; Nest - HTML Ecommerce Template.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">All rights reserved</div>
                </div>
            </div>
        </footer>
    </main>

    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

    <!-- sales report pdf -->
    <script>
        document.getElementById('download-pdf-btn').addEventListener('click', function () {

            // document.getElementById('dateHeader').style.display = 'none'
            document.getElementById('buttons').style.display = 'none'
            document.getElementById('pagination').style.display = 'none'

            var element = document.querySelector('.content-main');
            html2pdf(element).then(() => {

                // document.getElementById('dateHeader').style.display = 'block'
                document.getElementById('buttons').style.display = 'block'
                document.getElementById('pagination').style.display = 'block'
            })

        })
    </script>

    <!-- exel -->

    <script>
        document.getElementById('download-excel-btn').addEventListener('click', function () {

            // document.getElementById('dateHeader').style.display = 'none'
            document.getElementById('buttons').style.display = 'none'
            document.getElementById('pagination').style.display = 'none'

            exportToExcel()

            // document.getElementById('dateHeader').style.display = 'block'
            document.getElementById('buttons').style.display = 'block'
            document.getElementById('pagination').style.display = 'block'

        })

        function exportToExcel() {
    // Get the table element
    var table = document.querySelector('.table');

    // Convert the table rows to an Array of Arrays representing rows and cells
    var rows = Array.from(table.querySelectorAll('tr')).map(row =>
        Array.from(row.querySelectorAll('td, th')).map(cell => cell.innerText)
    );

    // Create a new workbook
    var wb = XLSX.utils.book_new();

    // Add worksheet with table data
    var ws = XLSX.utils.aoa_to_sheet(rows);
    XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

    // Add the overall summary after the table
    var summaryRows = [
        [], // Blank row
        ['Overall Summary'], // Title
        ['Total Sales Count:', '<%= totalOrders %>'], // Total sales count
        ['Total Order Amount:', '₹<%= totalPrice %>'] // Total order amount
    ];

    // Append the summary to the sheet
    XLSX.utils.sheet_add_aoa(ws, summaryRows, { origin: -1 });

    // Write the Excel file
    XLSX.writeFile(wb, 'sales_report.xlsx');
}

    </script>

    <script>
        function triggerDateInputs(event){
            event.preventDefault()

            const input = document.getElementById('dateInput').value
            let dateRange

            if( input == 'Custom'){

                document.getElementById('startDate').style.display = 'block'
                document.getElementById('endDate').style.display = 'block'

            }else{

                document.getElementById('startDate').style.display = 'none'
                document.getElementById('endDate').style.display = 'none'

                window.location.href = `/admin/salesReport?type=${input}`
            }

        }

        function customDate(event){
            event.preventDefault()

            const startDate = document.getElementById('startDateInput').value
            const endDate = document.getElementById('endDateInput').value

            window.location.href = `/admin/salesReport?startDate=${startDate}&endDate=${endDate}`
        }

    </script>



    <!-- trigger dates
        <script>
            function triggerDateInputs(event) {
                event.preventDefault()

                const input = document.getElementById('dateInput').value
                let dateRange

                if (input == 'Custom') {

                    document.getElementById('startDate').style.display = 'block'
                    document.getElementById('endDate').style.display = 'block'

                } else {

                    document.getElementById('startDate').style.display = 'none'
                    document.getElementById('endDate').style.display = 'none'

                    window.location.href = `/admin/salesReport?type=${input}`
                }

            }

            function customDate(event) {
                event.preventDefault()

                const startDate = document.getElementById('startDateInput').value
                const endDate = document.getElementById('endDateInput').value

                window.location.href = `/admin/salesReport?startDate=${startDate}&endDate=${endDate}`
            }
        </script> -->


</body>

</html>