<!DOCTYPE HTML>
<html>

<!-- Mirrored from themewagon.github.io/footwear/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Aug 2024 04:17:40 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <title>ShoeVault</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Ion Icon Fonts-->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="colorlib-loader"></div>

    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 col-md-9">
                            <div id="colorlib-logo"><a href="index.html">ShoeVault</a></div>
                        </div>
                        <div class="col-sm-5 col-md-3">
                            <form action="#" class="search-wrap">
                                <div class="form-group">
                                    <input type="search" class="form-control search" placeholder="Search">
                                    <button class="btn btn-primary submit-search text-center" type="submit"><i
                                            class="icon-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-left menu-1">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li class="has-dropdown ">
                                    <a href="/shop">shop</a>
                                    <!-- <ul class="dropdown">
                                        <li><a href="product-detail.html">Product Detail</a></li>
                                        <li><a href="cart.html">Shopping Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="order-complete.html">Order Complete</a></li>
                                        <li><a href="add-to-wishlist.html">Wishlist</a></li>
                                    </ul> -->
                                </li>
                                <!-- <li><a href="women.html">Women</a></li> -->
                                <li><a href="/about">About</a></li>
                                <li><a href="/myAccount">my account</a></li>
                                <li class="cart"><a href="/wishlist"><i class="icon-heart"></i></a>
                                <li class="cart"><a href="/cart"><i class="icon-shopping-cart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sale">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2 text-center">
                            <div class="row">
                                <div class="owl-carousel2">
                                    <div class="item">
                                        <div class="col">
                                            <h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="col">
                                            <h3><a href="#">Our biggest sale yet 50% off all summer shoes</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="bread"> <span>order detailes</span></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="colorlib-product">
            <div class="container">
                <% if(order.status==='payment Pending' ) {%>
                    <h5>paymend Pending</h5>
                    <% } %>

                        <div class="d-flex justify-content-end mb-3" style="color: black;">
                            <% if(order.status=='Pending' ) { %>
                                <!-- <button type="button" class="btn btn-primary"
                                    onclick="cancelBulkOrder(event,'<%= order.id %>')">Cancel order
                                </button> -->
                                <% }%>

                                    <button type="button" onclick="backtoAccount(event)" class="btn btn-primary">Go back
                                    </button>
                        </div>

                        <div class="row row-pb-lg">
                            <div class="col-md-12">
                                <div class="product-name d-flex">
                                    <div class="one-forth text-left px-4">
                                        <span>Product Details</span>
                                    </div>
                                    <div class="one-eight text-center">
                                        <span>Price</span>
                                    </div>
                                    <div class="one-eight text-center">
                                        <span>Quantity</span>
                                    </div>
                                    <div class="one-eight text-center">
                                        <span>Total</span>
                                    </div>
                                    <div class="one-eight text-center">
                                        <span>Status</span> <!-- New column header -->
                                    </div>
                                    <div class="one-eight text-center px-4">
                                        <span>Action</span>
                                    </div>
                                </div>

                                <% order.products.forEach(product=> { %>
                                    <div class="product-cart d-flex">
                                        <div class="one-forth">
                                            <div class="product-img"
                                                style="background-image: url('<%= product.product.images[0] %>');">
                                            </div>
                                            <div class="display-tc">
                                                <h3>
                                                    <%= product.product.productName %>
                                                </h3>
                                            </div>
                                        </div>

                                        <div class="one-eight text-center">
                                            <div class="display-tc">
                                                <% // Calculate effective price after applying any active offer const
                                                    offer=product.product.offers.find(offer=>
                                                    offer.startDate <= new Date() && offer.endDate>= new Date()
                                                        );
                                                        const effectivePrice = offer ? (product.product.price -
                                                        offer.discount) : product.product.price;
                                                        %>
                                                        <span class="price">
                                                            <%= effectivePrice %>
                                                        </span>
                                            </div>
                                        </div>

                                        <div class="one-eight text-center">
                                            <div class="display-tc">
                                                <input type="text" id="quantity" name="quantity"
                                                    class="form-control input-number text-center"
                                                    value="<%= product.quantity %>" min="1" max="100">
                                            </div>
                                        </div>

                                        <div class="one-eight text-center">
                                            <div class="display-tc">
                                                <span class="price">
                                                    <%= effectivePrice * product.quantity %>
                                                </span>
                                            </div>
                                        </div>

                                        <!-- New column for Status -->
                                        <div class="one-eight text-center">
                                            <div class="display-tc">
                                                <% if(order.status=="Payment Pending" ){ %>
                                                    <p class="text-danger mt-1">*payment pending</p>
                                                    <% }else{ %>
                                                        <span class="status">
                                                            <%= product.productStatus %>
                                                        </span>
                                                        <% } %>
                                            </div>
                                        </div>

                                        <!-- Action Column with Return and Cancellation Logic -->
                                        <div class="one-eight text-center">
                                            <div class="display-tc">
                                                <% if (product.cancelStatus==='Approved' ) { %>
                                                    <p class="text-danger mt-1">*Cancelled</p>
                                                    <% } else if (product.cancelStatus==='Rejected' ) { %>
                                                        <p class="text-warning mt-1">*Cancellation Rejected</p>
                                                        <% } else if (product.cancelRequested) { %>
                                                            <p class="text-warning mt-1">*Cancellation Requested</p>
                                                            <% } else if (product.returnStatus==='Approved' ) { %>
                                                                <p class="text-success mt-1">*Returned</p>
                                                                <% } else if (product.returnStatus==='Rejected' ) { %>
                                                                    <p class="text-danger mt-1">*Return Rejected</p>
                                                                    <% } else if (product.returnRequested) { %>
                                                                        <p class="text-warning mt-1">*Return Requested
                                                                        </p>
                                                                        <% } else if (product.productStatus==='Pending'
                                                                            && order.status !=="Payment Pending" ) { %>
                                                                            <button type="button"
                                                                                class="btn btn-primary"
                                                                                onclick="cancelOrder(event, '<%= order.id %>', '<%= product.product.id %>')">Cancel</button>
                                                                            <% } else if
                                                                                (product.productStatus==='Delivered' ) {
                                                                                %>
                                                                                <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    onclick="returnSingleProduct(event, '<%= order.id %>', '<%= product.product.id %>')">Return</button>
                                                                                <% } else if
                                                                                    (product.productStatus==='Returned'
                                                                                    ) { %>
                                                                                    <p class="text-success mt-1">
                                                                                        *Returned</p>
                                                                                    <% } %>
                                            </div>
                                        </div>

                                    </div>
                                    <% }) %>
                            </div>
                        </div>

                        <%if(order.status=="Payment Pending" ) {%>
                            <button type="button"
                                onclick="continueRazorpayPayment('<%= order.id %>','<%= order.razorpayId %>','<%= order.totalAmount %>')"
                                class="btn btn-primary">Countinue Payment
                                <%}%>
                            </button>


                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="cart-detail">
                                        <h2>Order Total</h2>
                                        <ul>
                                            <li>
                                                <ul>
                                                    <li>
                                                        <span>Total</span>
                                                        <span>
                                                            <%= order.orginalAmount %>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span>Discount</span>
                                                        <span>
                                                            <%= order.orginalAmount - order.totalAmount%>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <span><strong>Grand Total</strong></span>
                                                <span><strong>
                                                        <%= order.totalAmount %>
                                                    </strong></span>
                                            </li>
                                        </ul>
                                        <% if (order.products.some(product=> product.productStatus== "Delivered") &&
                                            !order.products.every(product => product.productStatus === "Pending") &&
                                            !order.products.every(product => product.productStatus === "Cancelled")) { %>
                                            <a href="/Invoice/<%= order._id %>" class="btn download-btn"
                                                style="width: 150px;background-color: rgb(103, 103, 103);color:white;">
                                                Download Invoice
                                            </a>
                                            <% } %>

                                    </div>
                                </div>
                            </div>



                            <footer id="colorlib-footer" role="contentinfo">
                                <div class="container">
                                    <div class="row row-pb-md">
                                        <div class="col footer-col colorlib-widget">
                                            <h4>About Footwear</h4>
                                            <p>Even the all-powerful Pointing has no control about the blind
                                                texts it is an almost
                                                unorthographic life</p>
                                            <p>
                                            <ul class="colorlib-social-icons">
                                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                                            </ul>
                                            </p>
                                        </div>
                                        <div class="col footer-col colorlib-widget">
                                            <h4>Customer Care</h4>
                                            <p>
                                            <ul class="colorlib-footer-links">
                                                <li><a href="#">Contact</a></li>
                                                <li><a href="#">Returns/Exchange</a></li>
                                                <li><a href="#">Gift Voucher</a></li>
                                                <li><a href="#">Wishlist</a></li>
                                                <li><a href="#">Special</a></li>
                                                <li><a href="#">Customer Services</a></li>
                                                <li><a href="#">Site maps</a></li>
                                            </ul>
                                            </p>
                                        </div>
                                        <div class="col footer-col colorlib-widget">
                                            <h4>Information</h4>
                                            <p>
                                            <ul class="colorlib-footer-links">
                                                <li><a href="#">About us</a></li>
                                                <li><a href="#">Delivery Information</a></li>
                                                <li><a href="#">Privacy Policy</a></li>
                                                <li><a href="#">Support</a></li>
                                                <li><a href="#">Order Tracking</a></li>
                                            </ul>
                                            </p>
                                        </div>

                                        <div class="col footer-col">
                                            <h4>News</h4>
                                            <ul class="colorlib-footer-links">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="#">Press</a></li>
                                                <li><a href="#">Exhibitions</a></li>
                                            </ul>
                                        </div>

                                        <div class="col footer-col">
                                            <h4>Contact Information</h4>
                                            <ul class="colorlib-footer-links">
                                                <li>291 South 21th Street, <br> Suite 721 New York NY 10016
                                                </li>
                                                <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                                                <li><a href="mailto:info@yoursite.com">info@yoursite.com</a>
                                                </li>
                                                <li><a href="#">yoursite.com</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="copy">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <p>
                                                <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                                    Copyright &copy;
                                                    <script>document.write(new Date().getFullYear());</script>
                                                    All rights reserved | This
                                                    template is made with <i class="icon-heart" aria-hidden="true"></i>
                                                    by
                                                    <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                                </span>
                                                <span class="block">Demo Images: <a href="http://unsplash.co/"
                                                        target="_blank">Unsplash</a>
                                                    , <a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </footer>
            </div>

            <div class="gototop js-top">
                <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
            </div>

            <!-- jQuery -->
            <script src="js/jquery.min.js"></script>
            <!-- popper -->
            <script src="js/popper.min.js"></script>
            <!-- bootstrap 4.1 -->
            <script src="js/bootstrap.min.js"></script>
            <!-- jQuery easing -->
            <script src="js/jquery.easing.1.3.js"></script>
            <!-- Waypoints -->
            <script src="js/jquery.waypoints.min.js"></script>
            <!-- Flexslider -->
            <script src="js/jquery.flexslider-min.js"></script>
            <!-- Owl carousel -->
            <script src="js/owl.carousel.min.js"></script>
            <!-- Magnific Popup -->
            <script src="js/jquery.magnific-popup.min.js"></script>
            <script src="js/magnific-popup-options.js"></script>
            <!-- Date Picker -->
            <script src="js/bootstrap-datepicker.js"></script>
            <!-- Stellar Parallax -->
            <script src="js/jquery.stellar.min.js"></script>
            <!-- Main -->
            <script src="js/main.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <!-- cancel single order -->
            <script>
                function cancelOrder(event, orderId, productId) {
                    event.preventDefault();

                    Swal.fire({
                        icon: "question",
                        title: "Are you sure?",
                        html: `
                <p style="margin-bottom: 10px;">Cancel your order! Select your reason:</p>
                <div style="text-align: left; margin-left: 30px;">
                    <label style="display: block; margin-bottom: 5px;">
                        <input type="radio" id="reason1" name="cancelReason" value="Changed my mind" 
                        style="width: 15px; height: 15px; vertical-align: middle; margin-right: 10px;">
                        Changed my mind
                    </label>
                    <label style="display: block; margin-bottom: 5px;">
                        <input type="radio" id="reason2" name="cancelReason" value="Found a better price" 
                        style="width: 15px; height: 15px; vertical-align: middle; margin-right: 10px;">
                        Found a better price
                    </label>
                    <label style="display: block; margin-bottom: 5px;">
                        <input type="radio" id="reason3" name="cancelReason" value="Order delayed" 
                        style="width: 15px; height: 15px; vertical-align: middle; margin-right: 10px;">
                        Order delayed
                    </label>
                    <label style="display: block; margin-bottom: 5px;">
                        <input type="radio" id="reason4" name="cancelReason" value="Other" 
                        style="width: 15px; height: 15px; vertical-align: middle; margin-right: 10px;">
                        Other
                    </label>
                    <input type="text" id="otherCancelReason" placeholder="If 'Other', please specify here" 
                    style="display:none; margin-top:10px; width: 100%;" />
                </div>
            `,
                        showCancelButton: true,
                        confirmButtonColor: '#0056b3',
                        confirmButtonText: "Submit",
                        willOpen: () => {
                            const otherReasonInput = document.getElementById('otherCancelReason');
                            document.querySelectorAll('input[name="cancelReason"]').forEach((radio) => {
                                radio.addEventListener('change', (event) => {
                                    if (event.target.value === 'Other') {
                                        otherReasonInput.style.display = 'block';
                                    } else {
                                        otherReasonInput.style.display = 'none';
                                    }
                                });
                            });
                        },
                        preConfirm: async () => {
                            const selectedReason = document.querySelector('input[name="cancelReason"]:checked');
                            let reason = selectedReason ? selectedReason.value : '';

                            if (reason === 'Other') {
                                reason = document.getElementById('otherCancelReason').value.trim();
                            }

                            if (!selectedReason || (reason === 'Other' && !reason)) {
                                Swal.showValidationMessage('Please select a reason for the cancellation');
                                return null;
                            }

                            if (reason.length < 5) {
                                Swal.showValidationMessage('The reason must be at least 5 characters long');
                                return null;
                            }

                            try {
                                const res = await fetch('/cancelSingleProduct', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        orderId: orderId,
                                        productId: productId,
                                        reason: reason
                                    })
                                });

                                const data = await res.json();

                                if (data.success == 2) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Order Cancelled",
                                        confirmButtonColor: '#0056b3',
                                        confirmButtonText: "Ok",
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = '/orders';
                                        }
                                    });
                                } else if (data.success == 1) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Order Cancelled",
                                        text: "Your money has been added to your wallet.",
                                        confirmButtonColor: '#0056b3',
                                        confirmButtonText: "Ok",
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = '/wallet';
                                        }
                                    });
                                }
                            } catch (err) {
                                console.error(err);
                            }

                            return reason;
                        }
                    });
                }
            </script>


            <!-- cancel bulk order -->

            <script>

                function cancelBulkOrder(event, orderId, productId) {
                    event.preventDefault()

                    Swal.fire({
                        icon: "question",
                        title: "Are you sure?",
                        html: `
                <p style="margin-bottom: 10px;">Cancel your order! Select your reason:</p>
                <div style="text-align: left; margin-left: 30px;">
                    <label style="display: block; margin-bottom: 5px;">
                        <input type="radio" id="reason1" name="cancelReason" value="Changed my mind" 
                        style="width: 15px; height: 15px; vertical-align: middle; margin-right: 10px;">
                        Changed my mind
                    </label>
                    <label style="display: block; margin-bottom: 5px;">
                        <input type="radio" id="reason2" name="cancelReason" value="Found a better price" 
                        style="width: 15px; height: 15px; vertical-align: middle; margin-right: 10px;">
                        Found a better price
                    </label>
                    <label style="display: block; margin-bottom: 5px;">
                        <input type="radio" id="reason3" name="cancelReason" value="Order delayed" 
                        style="width: 15px; height: 15px; vertical-align: middle; margin-right: 10px;">
                        Order delayed
                    </label>
                    <label style="display: block; margin-bottom: 5px;">
                        <input type="radio" id="reason4" name="cancelReason" value="Other" 
                        style="width: 15px; height: 15px; vertical-align: middle; margin-right: 10px;">
                        Other
                    </label>
                    <input type="text" id="otherCancelReason" placeholder="If 'Other', please specify here" 
                    style="display:none; margin-top:10px; width: 100%;" />
                </div>
            `,
                        showCancelButton: true,
                        confirmButtonColor: '#0056b3',
                        confirmButtonText: "Submit",
                        willOpen: () => {
                            const otherReasonInput = document.getElementById('otherCancelReason');
                            document.querySelectorAll('input[name="cancelReason"]').forEach((radio) => {
                                radio.addEventListener('change', (event) => {
                                    if (event.target.value === 'Other') {
                                        otherReasonInput.style.display = 'block';
                                    } else {
                                        otherReasonInput.style.display = 'none';
                                    }
                                });
                            });
                        },
                        preConfirm: async () => {
                            const selectedReason = document.querySelector('input[name="cancelReason"]:checked');
                            let reason = selectedReason ? selectedReason.value : '';

                            if (reason === 'Other') {
                                reason = document.getElementById('otherCancelReason').value.trim();
                            }

                            if (!selectedReason || (reason === 'Other' && !reason)) {
                                Swal.showValidationMessage('Please select a reason for the cancellation');
                                return null;
                            }

                            if (reason.length < 5) {
                                Swal.showValidationMessage('The reason must be at least 5 characters long');
                                return null;
                            }

                            try {
                                const res = await fetch('/cancelOrder', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        orderId: orderId,
                                        productId: productId,
                                        reason: reason
                                    })
                                });

                                const data = await res.json();

                                if (data.success == 2) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Order Cancelled",
                                        confirmButtonColor: '#0056b3',
                                        confirmButtonText: "Ok",
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = '/orders';
                                        }
                                    });
                                } else if (data.success == 1) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Order Cancelled",
                                        text: "Your money has been added to your wallet.",
                                        confirmButtonColor: '#0056b3',
                                        confirmButtonText: "Ok",
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = '/wallet';
                                        }
                                    });
                                }
                            } catch (err) {
                                console.error(err);
                            }

                            return reason;
                        }
                    });



                }

            </script>

            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <!-- Razorpay Library -->


            <script>
                function continueRazorpayPayment(orderId, razorpayId, totalAmount) {

                    console.log(razorpayId, totalAmount)



                    const options = {
                        key: 'rzp_test_i8191KFpq7S1w1',  // Replace with your Razorpay Key ID
                        amount: totalAmount * 100,   // Amount in paise (e.g., ₹500 = 50000 paise)
                        currency: 'INR',
                        name: 'ShoeVault',
                        description: 'Order Payment',
                        order_id: razorpayId,  // Order ID from Razorpay response
                        handler: function (response) {
                            // Payment successful, confirm order placement
                            fetch('/verifyPayment', {
                                method: 'POST',
                                headers: { 'Content-Type': 'application/json' },
                                body: JSON.stringify({
                                    razorpayPaymentId: response.razorpay_payment_id,
                                    razorpayOrderId: response.razorpay_order_id,
                                    razorpaySignature: response.razorpay_signature,
                                    orderId: orderId
                                })
                            })
                                .then(res => res.json())
                                .then(paymentData => {
                                    console.log(paymentData)
                                    if (paymentData.success) {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Payment Successful',
                                            text: 'Your order has been placed successfully!',
                                            timer: 3000,
                                            timerProgressBar: true,
                                            willClose: () => {
                                                window.location.href = '/orderComplete';
                                            }
                                        });
                                    } else {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Payment Verification Failed',
                                            text: 'There was an issue verifying your payment.'
                                        });
                                    }
                                });
                        },
                        prefill: {
                            name: 'Your Name',
                            email: 'youremail@example.com',
                            contact: '9999999999'
                        },
                        theme: {
                            color: '#3399cc'
                        },
                        modal: {
                            ondismiss: function () {
                                // Redirect the user to the order details page
                                Swal.fire({
                                    icon: 'warning',
                                    title: 'Payment Incomplete!',
                                    text: 'Your payment was not completed. You can continue your payment from the order details page.',
                                    confirmButtonText: 'Go to Orders',
                                    confirmButtonColor: '#266bf9'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = `/orderDetailes/?id=${data.orderId}`;
                                    }
                                });
                            }
                        }
                    };
                    const rzp1 = new Razorpay(options);
                    rzp1.open();

                }
            </script>

            <script>
                function returnSingleProduct(event, orderId, productId) {
                    event.preventDefault();

                    Swal.fire({
                        icon: "question",
                        title: "Are you sure?",
                        html: `
                <p style="margin-bottom: 10px;">Send a request for return! Select your reason:</p>
                <div style="text-align: left; margin-left: 30px;">
                    <label style="display: block; margin-bottom: 5px;">
                        <input type="radio" id="reason1" name="returnReason" value="Product is damaged" 
                        style="width: 15px; height: 15px; vertical-align: middle; margin-right: 10px;">
                        Product is damaged
                    </label>
                    <label style="display: block; margin-bottom: 5px;">
                        <input type="radio" id="reason2" name="returnReason" value="Wrong item delivered" 
                        style="width: 15px; height: 15px; vertical-align: middle; margin-right: 10px;">
                        Wrong item delivered
                    </label>
                    <label style="display: block; margin-bottom: 5px;">
                        <input type="radio" id="reason3" name="returnReason" value="Not as described" 
                        style="width: 15px; height: 15px; vertical-align: middle; margin-right: 10px;">
                        Not as described
                    </label>
                    <label style="display: block; margin-bottom: 5px;">
                        <input type="radio" id="reason4" name="returnReason" value="Other" 
                        style="width: 15px; height: 15px; vertical-align: middle; margin-right: 10px;">
                        Other
                    </label>
                    <input type="text" id="otherReason" placeholder="If 'Other', please specify here" 
                    style="display:none; margin-top:10px; width: 100%;" />
                </div>
            `,
                        showCancelButton: true,
                        confirmButtonColor: '#0056b3',
                        confirmButtonText: "Ok",
                        willOpen: () => {
                            const otherReasonInput = document.getElementById('otherReason');
                            document.querySelectorAll('input[name="returnReason"]').forEach((radio) => {
                                radio.addEventListener('change', (event) => {
                                    if (event.target.value === 'Other') {
                                        otherReasonInput.style.display = 'block';
                                    } else {
                                        otherReasonInput.style.display = 'none';
                                    }
                                });
                            });
                        },
                        preConfirm: async () => {
                            const selectedReason = document.querySelector('input[name="returnReason"]:checked');
                            let reason = selectedReason ? selectedReason.value : '';

                            if (reason === 'Other') {
                                reason = document.getElementById('otherReason').value.trim();
                            }

                            if (!selectedReason || (reason === 'Other' && !reason)) {
                                Swal.showValidationMessage('Please select a reason for the return');
                                return null;
                            }

                            if (reason.length < 5) {
                                Swal.showValidationMessage('The reason must be at least 5 characters long');
                                return null;
                            }

                            try {
                                const res = await fetch('/returnSingleOrder', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        orderId: orderId,
                                        productId: productId,
                                        reason: reason
                                    })
                                });

                                const data = await res.json();

                                if (data.success) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Request sent",
                                        confirmButtonColor: '#0056b3',
                                        confirmButtonText: "Ok",
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = '/myAccount';
                                        }
                                    });
                                }
                            } catch (err) {
                                console.error(err);
                            }

                            return reason; // Return the reason to ensure it's passed to the success handler
                        }
                    });
                }
            </script>

            <script>
                function backtoAccount(event) {
                    event.preventDefault()
                    window.location.href = '/orders'
                }
            </script>



</body>

<!-- Mirrored from themewagon.github.io/footwear/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Aug 2024 04:17:40 GMT -->

</html>